// critical css
* {
  box-sizing: border-box;
}

html,
body {
  background-color: $white-color;
  font-family: $default-font;
}

body {
  font: $default-size/1.6 $default-font;
  color: $default-color;
}

h1 {
  font-size: $h1-size;
  color: $text-black;
  margin: $margin 0 0;
}

h2 {
  font-size: $h2-size;
  color: $placeholder-color;
  font-weight: 300;
}

h3 {
  font-size: $h3-size;
}

h4,
h5,
h6 {
  font-size: $h4-size;
}

a {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
  outline: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}
