// Overall margin used for paragraphs, headings etc
$margin         : 20px;
$m-menu-height  : 42px;
$header-height  : 55px;
$header-desktop : 98px;
$logo-height    : 25px;
$logo-width     : 187px;
$border-radius  : 3px;

// *************** Fonts *************** //
$default-font  : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$raleway-font  : 'Raleway', $default-font;

// Font Sizes
$smallest-size : 10px;
$smaller-size  : 12px;
$small-size    : 14px;
$default-size  : 16px;
$medium-size   : 18px;
$large-size    : 20px;
$larger-size   : 22px;
$largest-size  : 24px; //only for paging left-right icons

$h1-size       : $large-size;
$h2-size       : $small-size;
$h3-size       : 16px;
$h4-size       : 15px;

// *************** Colors *************** //
$default-color             : #000000;
$white-color               : #FFFFFF;
$red-color                 : #C80529;
$green-color               : #52A200;
$blue-color                : #00B7DF;
$link-color                : #1080C0;
$text-black                : #333333;
$light-black               : #444444;
$gray-color                : #6B6B6B;
$light-gray-color          : #898989;
$light-gray-border-color   : #E6E6E6;
$lighter-gray-border-color : #EAEAEA;
$dark-gray                 : #DDE2E5;
$darker-gray               : #93999c;
$border-gray               : #C0C0C0; //buttons border (same as 'silver')
$select-gray               : #ACACAC;
$placeholder-color         : #999999;
$bluish-gray               : #7F8C97;
$userbox-gray              : #D2D2D2;
$another-gray              : #F7F7F7;
$success-color             : #3C763D;
$danger-color              : #A94442;
$dark-blue                 : #353A50;
$separator-color           : #DADADA;

// Social media colors
$google-plus-color         : #D0513E;
$facebook-color            : #3C5A96;
$twitter-color             : #4FA8E4;
$linkedin-color            : #138AB2;

$button-bg                 : $white-color;
$button-bg-hover           : #F9F9F9;

// Default padding on containers
$padding-container: 20px 5%;
